<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <h1>Cupcakes</h1>
    <ul id="cupcake_list">
    </ul>
    <form action="/api/cupcakes">
        <label for="flavor">Flavor</label>
        <input type="text" name="flavor">
        <label for="size">Size</label>
        <input type="text" name="size">
        <label for="rating">Rating</label>
        <input type="text" name="rating">
        <label for="image">Image</label>
        <input type="text" name="image">
        <button id="submit-btn">Submit</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/app.js"></script>
</body>
</html>